.footer {
  background: #0d0b09;
  color: #f5f1ea;
  padding: 70px 8% 25px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-brand h2 {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-brand h2 span { color: #cda06a; }

.footer-brand p {
  color: #a9a29a;
  max-width: 300px;
  line-height: 1.7;
  font-size: 15px;
}

.footer-contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-contact p {
  color: #a9a29a;
  font-size: 14px;
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 80px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links h3 {
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #cda06a;
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-links a {
  color: #cbc3b6;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s;
}

.footer-links a:hover {
  color: #cda06a;
  transform: translateX(4px);
}

.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #77706669;
  font-size: 13px;
}

.footer-bottom span { color: #77706e; }

.footer-legal {
  display: flex;
  gap: 20px;
}

.footer-legal a {
  color: #77706e;
  cursor: pointer;
  transition: 0.25s;
}

.footer-legal a:hover { color: #cda06a; }
.logo img{

width:160px;
height:auto;
object-fit:contain;

}