.popular-card{

background:white;
border-radius:25px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.08);
transition:.3s;

}


.popular-card:hover{

transform:translateY(-8px);

}



.popular-card img{

width:100%;
height:220px;
object-fit:cover;

}



.popular-info{

padding:20px;

}


.location{

font-size:13px;
color:#159b98;

}


.popular-info h3{

font-size:24px;
margin:10px 0;

}



.tags{

display:flex;
gap:10px;
margin-bottom:15px;

}


.tags span{

background:#e8f7f5;
padding:6px 12px;
border-radius:20px;
font-size:13px;

}


.popular-info a{

color:#159b98;
font-weight:600;

}
.popular-card{
position:relative;
}


.favorite{

position:absolute;
top:15px;
right:15px;

width:40px;
height:40px;

border-radius:50%;
border:none;

background:white;

font-size:22px;

cursor:pointer;

z-index:2;

}